<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpenAI - Showcase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<div class="container my-2">
    <h3>Liste der Emails</h3>
    <table style="width:80%" border="1"
           class="table table-striped table-responsive-md">
        <thead class="table-header">
        <tr>
            <th>Kategorie</th>
            <th>Absender</th>
            <th>Datum</th>
            <th>Betreff</th>
            <th>Stimmung</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mail:${mailList}">
            <td th:text="${mail.category}"></td>
            <td th:text="${mail.from_person}"></td>
            <td th:text="${mail.timestamp}"></td>
        </tr>
        </tbody>
    </table>
</div>

<br/>

<div class="even-row-color">

    <form method="get" action="/fetch">
        <button>Lade neue Mails</button>
    </form>

    <form method="post" action="/scan">
        <button>Kategorisiere die Mails</button>
    </form>
</div>



</html>
